PAYSTACK_PUBLICKEY=
PAYSTACK_SECRET=
secret_key=
software_price=
websiteurl=
databaseName=
databaseUser=
databasePassword=
databaseHost=for when u are in ur local machine
databasePort=
CLOUDINARY_URL=
SENDINBLUE_API_KEY=
BASE_DOMAIN= this can  be a front end link