<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation</title>
</head>
<body>
    <h2>You have been invited for <strong>{{name}}</strong></h2>
    <br>
    <p>
        You have been invited for event from <strong>{{short_name}}</strong>
    </p>
    <br>
    <p>
        <strong>event detail</strong>: {{meeting_link_or_address}}
    </p>
    <br>
    <p><strong>Invitee Email</strong>: {{person_that_invite_you_email}}</p>
    <br>
    <p><strong>Invitee Name</strong>: {{person_that_invite_you_full_name}}</p>
    <br>

    <script>

    </script>
</body> 
</html>